body {
  font-family: 'Ubuntu', sans-serif;
}

.hr-dark {
  color: #000;
}

.heading {
  padding-bottom: 20px;
}

.heading-footer {
  padding-left: 20px;
}

.nav, .navbar-default, .navbar-header, .navbar-nav {
  border-right: 1px;
  font-family: 'Ubuntu', sans-serif;
}

.jumbotron {
  background: url("../media/wedding.jpg") no-repeat center center;
  height: 950px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar .transparent {
  background: rgba(0,0,0,0.5);
}

.navbar a {
    color: #000 !important;
}

#accordion {
  padding-top: 30px;
}

#footer {
  height: 300px;
  margin: auto;
}
.mapouter{
	text-align:right;
	height:250px;
	width:800px;
	margin: auto;
}
.gmap_canvas {
	overflow:hidden;
	background:none!important;
	height:250px;
	width:800px;
	margin: auto;
}
